@import "./components/header"
@import "./components/variables"
@import "./components/common"
@import "./components/top_block"
@import "./components/triforce"
@import "./components/contact"
@import "./components/footer"
@import "./components/global_map"

.container
    width 100%
    height 100%
    max-width: 1140px
    padding: 0 20px
    margin: 0 auto
.over_block
    width: 100%
    height: 125px
html,
body,
div,
p,
h1,
h2,
h3,
h4,
section
    box-sizing: border-box
    